<h1>Directives</h1>
<h3>Component</h3>
<div [ngStyle]="{'color': couleur, 'font-size': fontSize+'px'}">
  <select [(ngModel)]="fontSize">
    <option>12</option>
    <option>14</option>
    <option>20</option>
  </select>

  <p>coucou</p>
</div>

<div [ngClass]="{'nomClasse': isBordered}">
  <input type="checkbox" [(ngModel)]="isBordered" id="demo-ng-class">
  <label for="demo-ng-class">Activation nomClasse</label>
</div>

<h3>Structural directives</h3>
<div *ngIf="isBordered">
  je suis actif!
</div>

<div>
  <p *ngFor="let personne of javanais">{{personne.nom}} - {{personne.age}} ans</p>
</div>

<div appSurlignage>Customs Directives</div>
